body{

}

html{

}
.entry-header{
	display:none;
}

.col-full{
	max-width:100%;
	padding-left:15px;
	padding-right:15px;
}
 

.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header{
	margin-bottom:0;
}
@media (max-width: 767px) {
.site-header{
padding-bottom:0;
}
}


.single-product div.product .woocommerce-product-gallery img{
	display:block;
	margin-left: auto;
	margin-right:auto;
}

img.wp-post-image.lazy-loaded{
	max-width:50%;

}


button:focus{
	outline:0;
}


/* Links
-------------------------------------------------- */
/* unvisited link */
.navbar-light .navbar-nav .nav-link{
	color: #4E5B65;
}

.footerlinks a:visited{
	color:#2b4a3e;
}
 a:link:not() {
    color: #74CCBD;
   font-family: 'PT Sans', sans-serif;
   text-decoration: underline;
}

a{
	color: #1898a6 !important;
	font-family: 'PT Sans', sans-serif;
}

/* mouse over link */
a:hover {
       color: #1898a6;
     font-family: 'PT Sans', sans-serif;
     text-decoration: underline;
}

/* selected link */
a:active {
     color: #bedbd3;
      font-family: 'PT Sans', sans-serif;
      text-decoration: underline;
}

a.bloglink{
	color: #93cb79;
	   font-family: 'PT Sans', sans-serif;
	   text-decoration: underline;
}

/* Buttons
-------------------------------------------------- */

/* LARGE BUTTONS */

@media (min-width: 768px) {
.boxplot-btn{
color: #fff !important;
background-color:#1898a6 !important;
border-color: #1898a6 ;
border-width: 5px;
border-radius:5px;
	font-family: 'Lato', sans-serif;
	font-size: 18pt;
	width: auto;
	height: auto;
}


.boxplot-btn:hover{
	color: #1898a6 !important;
	background-color: #fff !important;
	border-color: #1898a6 ;
}
}



/* SMALL BUTTONS */
@media (max-width: 767px) {
.boxplot-btn{
color: #fff !important;
background-color:#1898a6 !important;
border-color: #1898a6 ;
border-width: 5px;
border-radius:5px;
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
	width: auto;
	height: auto;
}


.boxplot-btn:hover{
	color: #1898a6 !important;
	background-color: #fff !important;
	border-color: #1898a6 ;
}
}




/* Headings
-------------------------------------------------- */
@media (min-width: 768px) {
h1{
    color: #1898a6;
font-family: 'Lato', sans-serif;
    font-size: 24pt;
    font-style: bold;
}

h2 {
  color: #4E5B65;  
  font: 20pt 'Lato', serif;
  text-transform: uppercase;
}

h3{
    color: #24865F;
font-family: 'Lato', sans-serif;
    font-size: 18pt;
}

h4{
    color: #89939b;
font-family: 'Lato', sans-serif;
    font-size: 20pt;
    font-weight: 800;
    font-style:bold;
}

h5{
    color: #e16071;
font-family: 'Lato', sans-serif;
    font-size: 17pt;
}

.caption{
    color: #bd9d47;
    font-style:italic;
    font-family: 'PT Sans';
}

p{
    
   font-family: 'PT Sans', sans-serif;
font-size: 14pt;
}
}

@media (max-width: 767px) {
h1{
    color: #1898a6;
font-family: 'Lato', sans-serif;
    font-size: 22pt;
    font-style: bold;
}

h2 {
  color: #4E5B65;  
  font: 20pt 'Lato', serif;
  text-transform: uppercase;
}

h3{
    color: #24865F;
font-family: 'Lato', sans-serif;
    font-size: 18pt;
    font-weight: 300;
}

h4{
    color: #89939b;
font-family: 'Lato', sans-serif;
    font-size: 14pt;
}

h5{
    color: #e16071;
font-family: 'Lato', sans-serif;
    font-size: 12pt;
}

.caption{
    color: #bd9d47;
    font-style:italic;
    font-family: 'PT Sans';
}

p{
    
   font-family: 'PT Sans', sans-serif;
font-size: 12pt;
}
}

/* Float Images for Wrapping
-------------------------------------------------- */
/* Float Images for Wrapping */
/*    .style_image{
        float: left;
        margin: 0 15px 0 0;
    }
    
        .style_image_right{
        float: right;
        margin: 0 0 10px 10px;
    }

*/

/***************************************************************/
/* Vertical Center, Images and Blog Images */

   .outercenter {
    height:100px;
   position: relative }


   .outercenter #centerit {
   margin: 0;
    position: absolute;
    top: 50%;
        transform: translate(-50%, -50%) }

@media (min-width: 992px) {
  .vertical-center {
  max-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  max-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
}

@media (max-width: 992px) {
  .vertical-center {
 
}
}

@media (max-width: 991px) {
.halfimage{
	max-width:100%;
}
}
@media (min-width: 992px) {
.halfimage{
	max-width:50%;
}
}

.resizinggifs{
	width:100%;
	height:auto;
}


@media (min-width: 992px) {

.blogimages{
	padding-top:25px;
	padding-bottom:25px;
}
}

@media (max-width: 991px) {
.blogimages{
	padding-top:15px;
	padding-bottom:15px;
}
}
@media (min-width: 992px) {

#blogimages img{
	padding-top:25px;
	padding-bottom:25px;
}
}

@media (max-width: 992px) {
#blogimages img{
	padding-top:15px;
	padding-bottom:15px;
}
}

@media (max-width: 992px) {
#blogimages p{
	padding-top:15px;
	padding-bottom:15px;
}
}

@media (min-width: 992px) {

#blogimages p{
	padding-top:25px;
	padding-bottom:25px;
}
}
.circleimage{
	border-radius:50%;
	max-width:200px;
}

.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

/*.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}*/

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

/***************************************************************/
/* Service Boxes */

.service{

background-color: #EBE9E9;
border-radius: 25px;
}

/***************************************************************/
/* Backgrounds & Footer*/
.gray{
	background-color: #949b90;
}

.white{
	background-color: white;
}

.mainblue{
	background-color: #1982c4;
}

.boxplotfooter{
	background-color: #D6D6D6;
	padding-left:15px;
padding-right:15px;
padding-bottom:30px;
padding-top:20px;

}

.boxplotfooter p{
	font-size: 10pt;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

/***************************************************************/
/* Homepage */

 .grayhome{
 	height:100px;
 }

.img-center{
	    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* #contactphilly{
    background: url('') no-repeat center center fixed; 
      display: table;
  height: 400px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


@media (min-width:768px){
.tableticon{
	margin-right: 100px
	}
}

@media (min-width:768px){
.mobileicon{
	margin-right: 175px
	}
}

/*.mainicons {
  animation-duration: 2s;
  animation-name: iconsanimation;
}

@keyframes iconsanimation {
  0% {
    margin-left: -400%;
    width: 300%; 
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.headertext {
  animation-duration: 2s;
  animation-name: slideinheader;
}

@keyframes slideinheader {
  0% {
    margin-top: -400%;
    width: 300%; 
  }

  100% {
    margin-top: 0%;
    width: 100%;
  }
}*/

/***************************************************************/
/* Form */

input, select, textarea{
    background-color: transparent !important;
    color: white;
}
textarea:focus, input:focus {
    color: white;
}

.form-group {
    background-color: transparent !important;
    border: 4px solid white;
    color: white;
}

input.transparent-input {
    border:none !important;
    color:white;
}

.transparent-input {
   background-color: transparent !important;
   border:none;
   color: white;
}

textarea.transparent-input {
    border:none !important;
    color: white;
}

.form-control::-webkit-input-placeholder { color: white; font-style: italic;    background-color:transparent !important;}
.form-control:-moz-placeholder { color: white; font-style: italic;    background-color:transparent !important;}
.form-control::-moz-placeholder { color: white; font-style: italic;    background-color:transparent !important;}
.form-control:-ms-input-placeholder { color: white; font-style: italic;    background-color:transparent !important;}



/***************************************************************/
/* Pop Hypothesis Test Blog Post */

.tooltipballoon{
	color: #000;
	text-decoration: underline;
}

.sidenote{
	background-color: rgba(255,174,63,.5);	
	border-radius:20px; 
	border-color: rgb(255,174,63); 
	color:black;
	text-align:center;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
}
.math{
	font-size:30pt;	
	color: #176db6;
	text-align:center;
}

.bluebox{
	background-color: #176db6; color:white; font-size: 18pt; text-align:center;
	max-width:400px;
	border-radius:5px;
	margin-bottom:20px;
	margin-left:15px;
	margin-right:15px;
}

/***************************************************************/
/* Products Page */
@media (min-width:992px){
.productbox{
min-height: 450px; 
padding-right: 15px;
padding-bottom: 10px;
padding-left: 15px;
background-color: #74CCBD;
text-align:center;
}
}

@media (max-width:991px){
.productbox{
min-height: 300px; 
padding-right: 15px;
padding-bottom: 10px;
padding-left: 15px;
background-color: #74CCBD;
}
}



/* Navbar
-------------------------------------------------- */
/*
.navbar-toggle{
	color:white;
}

.navbar-collapse
{
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	width: 100%;
	z-index: 99;
	color:white;

}
	*/


nav{
	margin-bottom: 0;
}
.nav-link{
	color: #2b4a3e;
}

.navbar-nav{
	margin-top:10px;
	margin-right:15px;
	display:inline-block;
    float:none;
}

@media screen and (min-width: 1450px) {
	.navbar-nav > li {
	    color:white;
	    padding-left: 60px;
	    padding-right: 60px;
	}
}

@media screen and (min-width: 1121px) and (max-width: 1449px) {
	.navbar-nav > li {
	    color:white;
	    padding-left: 35px;
	    padding-right: 35px;
	}
}

@media screen and (min-width: 901px) and (max-width: 1120px) {
	.navbar-nav > li {
	    color:white;
	    padding-left: 10px;
	    padding-right: 10px;
	}
}

@media (max-width: 900px) {
	.navbar-nav > li {
	    color:white;
	    padding-left: 0px;
	    padding-right: 0px;
	}
}

@media (min-width: 1250px) {
.navbar-nav > li > a{
	color: white;
font-family: 'Lato', sans-serif;
    font-size: 14pt;
    font-style: bold;
}
}

@media (min-width: 1160px) and (max-width: 1249px) {
.navbar-nav > li > a{
	color: white;
font-family: 'Lato', sans-serif;
    font-size: 14pt;
    font-style: bold;
}
}

@media (max-width: 1159px) {
.navbar-nav > li > a{
	color: white;
font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-style: bold;
}

}

@media (min-width: 993px) {
.biglogin > h5{
color: #2b4a3e; font-size: 14pt; display: inline; padding-top: 5px
}
}

@media (min-width: 768px) and (max-width: 992px) {
.biglogin > h5{
color: #2b4a3e; font-size: 12pt; display: inline; padding-top: 5px
}
}

@media (min-width: 769px) {
.navbar-nav > li > a:hover{
	background-color: rgba(0,0,0,0);
color: #2b4a3e;
}
}
@media (max-width: 768) {
.navbar-nav > li > a:hover{
	color:#74CCBD;
	background-color: rgba(0,0,0,0);
}
}

.icon-bar {
   background-color:black !important;
}

@media (min-width: 768px) {
	.collcenter {
	     float: left!important
	}
}

.navlinks a:link{
    color:#2b4a3e;
}

.navlinks a:visited{
    color:#2b4a3e;
}
.navlinks a:hover{
    color:#93cb79;
}

.navlinks a:active{
    color:#2b4a3e;
}


@media (min-width: 768px) {
.dropdown:hover .dropdown-menu {
display: block;
}
}

/*Not using in navbar */
.navbar{
   background-color: rgba(255,255,255,.8);
   margin-bottom: 0;
}

/* Homepage
-------------------------------------------------- */

.img-album {
height: 500px;
    width: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
}

.overflow{
      overflow-y:hidden;
    overflow-x:hidden;
}

.packages{
 width: 300px;
 height: 115px;
 background-color: #ffae3f;
 color: white;
 font-size: 24pt;
font-family: 'Lato', sans-serif;
/*fcb07e*/
}

.packagessmall{
 width: 250px;
 height: 85px;
 background-color: #ffae3f;
 color: white;
 font-size: 18pt;
font-family: 'Lato', sans-serif;
}

.learnmore{
 width: 150px;
 height: 50px;
 background-color: #ffae3f;
 color: white;
 font-size: 18pt;
font-family: 'Lato', sans-serif;
}

.mainpic{
height: 100%;
min-width: 100%;
overflow: hidden;
}

.dashboardpic{
  width:80%;
  height:auto;
  margin: 0 auto;
  text-align:center;
}

.hideme
{
    opacity:0;
}

/* Contact Page
-------------------------------------------------- */
.boxplotemail{
	border: 5px solid #2b4a3e;
	border-radius:10px;
	margin-left:10px;
	margin-right:10px;
}

/* Chart Cheat Sheet page
-------------------------------------------------- */
p.vizp{
	font-size:10pt;
}

/* Newsletter Styling
-------------------------------------------------- */

#id_name_field, #id_email_field{
    color:black;
}

select.orderby{
	color:black;
}

/* Contact Form & WooCommerce
-------------------------------------------------- */
input, select, textarea{
	color:black;
	background-color:#f2f2f2 !important;
}

.single-product div.product table.variations td, .single-product div.product table.variations th{
	text-align:left;
}

.label{
	color:black;
}
.product_meta{
	display: none;
}

input:focus{
	color:black;
}

ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2, ul.products li.product h3{
	font-size:25px;
}

/* Contact Form & WooCommerce
-------------------------------------------------- */
#mc_embed_signup input.email{

	width:100% !important;
	font-family:"Lato","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}

#mc_embed_signup input.button{
	width:55%;
	color:white !important;
		background-color:#2B4A3E;
	border-color: #2B4A3E ;
	padding:5px;
border-width: 5px;
	color: white;
	font-family: 'Lato', sans-serif;
		font-size: 18pt;
	width: auto;
	height: auto !important;
}

#mc_embed_signup input.button:hover{
	color: #2B4A3E !important;
	background-color: #fff !important;
	border-color: #2B4A3E ;
/*border-radius: 15px;*/
padding:5px;
border-width: 5px;
	font-family: 'Lato', sans-serif;
		font-size: 18pt;
	width: auto;
	height: auto !important;
}

@media (max-width: 767px){
.logoimageheader {
	height:35px;
	width:auto;

	}

	.logoimage {
	height:35px;
	width:auto;
	margin: 0 auto;

	}

}

@media (min-width: 768px) {
.logoimage{
	height:60px;
	width:auto;
}

.logoimageheader{
	height:55px;
	width:auto;
}
}


#mc-embedded-subscribe{
		color: #fff !important;
	background-color: #1898a6 !important;
	border-color: #1898a6 !important;
/*border-radius: 15px;*/
padding:5px;
border-width: 5px;
	font-family: 'Lato', sans-serif;
		font-size: 18pt;
	width: auto;
	height: auto !important;
}

#mc-embedded-subscribe:hover{
		color: #1898a6 !important;
	background-color: #fff !important;
	border-color: #1898a6 !important;
/*border-radius: 15px;*/
padding:5px;
border-width: 5px;
	font-family: 'Lato', sans-serif;
		font-size: 18pt;
	width: auto;
	height: auto !important;
}

#mc_embed_signup form{
	text-align:center !important;
}

#mc_embed_signup_scroll{
text-align:center !important;	
}

textarea:focus{
	color:black;
}

.woocommerce-account-fields{
	margin-left:20px;
}

.wcpv-sold-by-loop{
	display:none;
}

.variation-SoldBy{
	display:none;
}

.wcpv-sold-by-single{
display:none;	
}

.hideclass{
	display:none;
}

.skill{
	white-space: nowrap; 
  padding:5px;
  margin:5px;
  display: inline-block;
  background-color:#e16071;
	border-radius:10px;
	color:white;
	font-size:14pt;
	font-family: 'Lato';
	
}

#skills{
  white-space: wrap; 
}


.storefront-primary-navigation{
	display:none;
}



/* Data Interactivity Buttons
-------------------------------------------------- */

.engagementrate{
color: #e16071 !important;
background-color:#fff !important;
border-color: #e16071 ;
border-width: 5px;
border-radius:5px;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	width: auto;
	height: auto;	
}

.engagedusers{
color: #e16071 !important;
background-color:#fff !important;
border-color: #e16071 ;
border-width: 5px;
border-radius:5px;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	width: auto;
	height: auto;	
}

.engagementrate.active{
color: #fff !important;
background-color:#e16071 !important;
border-color: #e16071 ;
border-width: 5px;
border-radius:5px;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	width: auto;
	height: auto;	
}

.engagedusers.active{
color: #fff !important;
background-color:#e16071 !important;
border-color: #e16071 ;
border-width: 5px;
border-radius:5px;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	width: auto;
	height: auto;	
}


